/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', 'Poppins', sans-serif;
    text-align: center;
}

/*Navbar*/
nav {
    background-color: #4d676c;
}
.navbar-brand  {
    text-transform: uppercase;
    
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 3px;
    color: white;
}
.navbar-brand:hover{
    color:#f9ef23
}
.navbar-nav {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
   
}

.nav-link {
    color: white;
    font-style: italic;
}

.nav-link:hover {
    color: #f9ef23;
}

/* Containers*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: #4d676c;
    /
}
/*hero section*/
/*----- Credit to Love Running project on how to add the image in the background------*/
#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/tive.png') no-repeat center center;
    position: absolute;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 5.5em;
    
}

h3 > .join {
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold; 
}
.btn .join {
    background-color: red;
    border-radius: 2px;
    border:#f9ef23
}
.no-joining-fee {
    color:rgb(232, 218, 218);
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 525px;
    
/* .no-joining-fee {
    color: rgb(232, 218, 218);
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 525px;
    right: 5px; */
}
a:hover {
    color: white;
    text-decoration: none;
}


.content {
    text-align: center;
    position: relative;
    top: 750px;
}
.container {
   width: 100%;
   padding: 10px;
   padding-left: 10px;
   margin-right: auto;
   margin-left: auto;
}
/*-----Credit to Pure Gym----*/
.same-height {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    line-height: 1.6;
    /* top: 600px; */
}
.same-height-box {
    width: 100%;
    padding: 20px 10px 0;
    background-color: #9c9cad;
    text-align: center;
    margin: 0 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    -ms-flex: 1 100%;
    flex: 1 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.6;
}
/*-----Credit to Pure Gym ---*/
.heading {
    display: block;
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    color: #4d676c;
    position: relative;
}

.heading .level-2 {
    line-height: .9;
    color:#4d676c;
    margin-bottom: 20px;
}



/*Paragraph section*/
.text {
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    margin: 0 0 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/*Footer section*/
footer {
    height: 50px;
    position: relative;
    top: 750px;
    text-align: center;

}
footer > nav {
    background-color: #4d676c;
    background-size: cover;
}
.social-links {
    text-align: center;
}
ul {
    list-style-type: none;
}
.social-links li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 2.5%;
    color: white;
}

.social-links i:hover {
    color:#f9ef23
}

.copyright{
    font-style: italic;
    font-size: medium;
    color: white;
}

/*Media Queries*/

 @media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }

    
    .same-height-box {
        flex: 1;
        padding: 20px 20px 0;
        position: relative;
        
    }
    .text {
        margin: 0 0 20px;
    }
   
    /* .btn .join {
        background-color: red;
        border-radius: 2px;
        border: #f9ef23;
        position: relative;
        top: 100px;
    } */

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        position: relative;
        top: 50px;
    }
    .no-joining-fee {
        color:rgb(232, 218, 218);
        text-align: center;
        font-size: 1.5rem;
        position: relative;
        top: 570px;
}
 }

@media (min-width: 768px) {
    .same-height-box {
        flex: 1;
        padding: 20px 20px 0;
        
    }
    .text {
        margin: 0 0 20px;
    }

    .container {
        width: 750px;
    }

     /* .btn .join {
        background-color: red;
        border-radius: 2px;
        border: #f9ef23;
        position: relative;
        top: 150px; */
     }   
 
 @media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .container-fluid {
        max-width: 992px;
    }
    .heading .level-2 {
        font-size: 3.6rem;
    }
    .join {
        position: relative;
        top: 600px;
    }
} 

 @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .container-fluid {
        max-width: none;
    }
}
